@charset "utf-8";

.box {width:90%; margin:2rem auto;border:1px solid red; box-sizing: border-box;}
.box ul {width:100%;}
.box ul li {width:50%;display:table-cell; text-align: center; vertical-align: middle;}
.box ul li img {width:100%;}

.main {width:100%;}
.main img {width:100%;}

.list li:nth-child(2) {vertical-align: top; text-align: left;}
.list li:nth-child(2)>div {margin:5% 0 0 5%;}